@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
	font-family: 'Copperplate Gothic Regular';
	src: url('/fonts/CopperplateGothicRegular.otf') format('opentype');
}

@font-face {
	font-family: 'Copperplate Gothic Bold';
	src: url('/fonts/CopperplateGothicBoldRegular.ttf') format('truetype');
}

@font-face {
	font-family: 'Conduit ITC Bold';
	src: url('/fonts/ConduitITCBold.otf') format('opentype');
}

@font-face {
	font-family: 'Conduit ITC Regular';
	src: url('/fonts/ConduitITCRegular.otf') format('opentype');
}

:root {
	--color-primary-1: #5F449E;
	--color-primary-2: #13106D;
	--color-selected-1: #EDBF37;
	--color-selected-2: #E18C1D;
	--color-correct-1: #51941E;
	--color-correct-2: #25693E;
	--font-heading-regular: 'Copperplate Gothic Regular', sans-serif;
	--font-heading-bold: 'Copperplate Gothic Bold', sans-serif;
	--font-normal-regular: 'Conduit ITC Regular', sans-serif;
	--font-normal-bold: 'Conduit ITC Bold', sans-serif;
	--color-text: rgba(0, 0, 0, 0.7);
}

.font-heading-regular {
	font-family: var(--font-heading-regular);
}

.font-heading-bold {
	font-family: var(--font-heading-bold);
}

.font-normal-regular {
	font-family: var(--font-normal-regular);
}

.font-normal-bold {
	font-family: var(--font-normal-bold);
}

.color-primary-1 {
	color: var(--color-primary-1);
}

.color-primary-2 {
	color: var(--color-primary-2);
}

.bg-primary-1 {
	background-color: var(--color-primary-1);
}

.bg-primary-2 {
	background-color: var(--color-primary-2);
}

.color-selected-1 {
	color: var(--color-selected-1);
}

.color-selected-2 {
	color: var(--color-selected-2);
}

.bg-selected-1 {
	background-color: var(--color-selected-1);
}

.bg-selected-2 {
	background-color: var(--color-selected-2);
}


html, body {
	overflow-x: hidden;
}

body {
	background: var(--color-primary-1);
	background: radial-gradient(circle, var(--color-primary-1) 0%, var(--color-primary-2) 70%); 
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
}

.prize-highlighted, .selected-item, .yellow-highlight {
	background: var(--color-selected-1);
	background: radial-gradient(circle, var(--color-selected-1) 0%, var(--color-selected-2) 35%);
	color: var(--color-primary-2);
}

.green-highlight {
	background: var(--color-correct-1);
	background: radial-gradient(circle, var(--color-correct-1) 0%, var(--color-correct-2) 35%);
	color: "#fff";
}

.violet-highlight {
	background: var(--color-primary-1);
	background: radial-gradient(circle, var(--color-primary-1) 0%, var(--color-primary-2) 35%);
	color: "#fff";
}

.black-highlight {
	background: rgb(0, 0, 0);
	background: linear-gradient(0deg,rgba(0, 0, 0, 1) 53%,rgba(67, 67, 67, 1) 100%);
}

nav [aria-current="true"] {
	color: var(--color-selected-1)
}

h1 {
	font-family: var(--font-heading-bold);
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
